# Gradle
.gradle/
build/
**/build/

# Configuração local
local.properties

# Android Studio e IntelliJ IDEA
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Artefatos de build
*.apk
*.aab
output-metadata.json
*.hprof

# Assinatura
*.jks
*.keystore

# Serviços e configurações locais
google-services.json

# Logs e sistema operacional
*.log
.DS_Store
